In [12]:
import pandas as pd
import numpy as np

In [13]:
# load dataset
df = pd.read_csv('updated_tulum.csv')
df = df.replace(np.nan, 0)
df

,Index,Annotation,M005,M002,M006,M001,M009,M004,M014,M003,...,Sequence,R1_Annotation,R2_Annotation,R1PreActi,R2PreActi,R1NxtActi,R2NxtActi,Resident 1,Resident 2,SequenceLabel
0,1,Cook_Breakfast,4.0,4.0,4.0,8.0,4.0,23.0,60.0,158.0,...,"3, 15, 14",Cook_Breakfast,Cook_Breakfast,no acti,no acti,Cook_Lunch,Cook_Lunch,0,0.0,0
1,2,Cook_Lunch,38.0,16.0,8.0,5.0,5.0,15.0,68.0,141.0,...,"3, 14, 15",Cook_Lunch,Cook_Lunch,Cook_Breakfast,Cook_Breakfast,R1_Snack,Others,1,1.0,1
2,3,R1_Snack,0.0,1.0,1.0,14.0,2.0,16.0,22.0,164.0,...,"15, 3, 16",R1_Snack,Others,Cook_Lunch,Cook_Lunch,R1_Snack,Others,2,8.0,2
3,4,R1_Snack,0.0,0.0,0.0,4.0,2.0,3.0,3.0,7.0,...,"3, 15, 1",R1_Snack,Others,R1_Snack,Others,R1_Snack,Others,2,8.0,3
4,5,R1_Snack,0.0,1.0,0.0,10.0,6.0,10.0,20.0,76.0,...,"16, 3, 15",R1_Snack,Others,R1_Snack,Others,R1_Snack,Others,2,8.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,195,R1_Snack,0.0,0.0,0.0,0.0,0.0,9.0,9.0,6.0,...,"4, 14, 3",R1_Snack,Others,R1_Snack,Others,Watch_TV,Watch_TV,2,8.0,37
195,196,Watch_TV,0.0,0.0,0.0,17.0,1.0,15.0,13.0,28.0,...,"12, 3, 16",Watch_TV,Watch_TV,R1_Snack,Others,Watch_TV,Watch_TV,3,3.0,81
196,197,Watch_TV,0.0,0.0,0.0,103.0,0.0,41.0,46.0,70.0,...,"12, 1, 3",Watch_TV,Watch_TV,Watch_TV,Watch_TV,Watch_TV,Watch_TV,3,3.0,48
197,198,Watch_TV,0.0,0.0,0.0,88.0,4.0,21.0,49.0,79.0,...,"12, 1, 3",Watch_TV,Watch_TV,Watch_TV,Watch_TV,R1_Snack,Others,3,3.0,48
198,199,R1_Snack,0.0,0.0,0.0,26.0,6.0,4.0,4.0,8.0,...,"12, 1, 7",R1_Snack,Others,Watch_TV,Watch_TV,no acti,no acti,2,0.0,82

In [14]:
# loading only sensor data
feature = df.iloc[:, 2:7]
feature

     M005  M002  M006   M001  M009
0     4.0   4.0   4.0    8.0   4.0
1    38.0  16.0   8.0    5.0   5.0
2     0.0   1.0   1.0   14.0   2.0
3     0.0   0.0   0.0    4.0   2.0
4     0.0   1.0   0.0   10.0   6.0
..    ...   ...   ...    ...   ...
194   0.0   0.0   0.0    0.0   0.0
195   0.0   0.0   0.0   17.0   1.0
196   0.0   0.0   0.0  103.0   0.0
197   0.0   0.0   0.0   88.0   4.0
198   0.0   0.0   0.0   26.0   6.0

[199 rows x 5 columns]

In [15]:
# annotations 
labels = df.loc[:, 'R1_Annotation']
labels

0      Cook_Breakfast
1          Cook_Lunch
2            R1_Snack
3            R1_Snack
4            R1_Snack
            ...
194          R1_Snack
195          Watch_TV
196          Watch_TV
197          Watch_TV
198          R1_Snack
Name: R1_Annotation, Length: 199, dtype: object

In [16]:
from sklearn import svm 
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [17]:
train, test, train_labels, test_labels = train_test_split(feature,labels,test_size=0.1,random_state=4)

In [18]:
gnb = tree.DecisionTreeClassifier()
model = gnb.fit(train, train_labels)
print("model",model)

model DecisionTreeClassifier()

In [19]:
# get first  1 row of the test data
print(test.iloc[0:1] )

    M005  M002  M006  M001  M009
11   0.0   0.0   0.0   1.0   0.0

In [20]:
preds = gnb.predict(test)
print(preds)

['R1_Snack' 'Watch_TV' 'R1_Snack' 'Watch_TV' 'Cook_Breakfast' 'R1_Snack'
 'Cook_Breakfast' 'R1_Snack' 'Cook_Breakfast' 'Watch_TV' 'Cook_Breakfast'
 'R1_Eat_Breakfast' 'Watch_TV' 'Watch_TV' 'Cook_Breakfast'
 'Cook_Breakfast' 'Enter_Home' 'Watch_TV' 'R1_Snack' 'R1_Eat_Breakfast']